/**
 * @file
 * Default color scheme for admin_menu.
 */

/**
 * General font color.
 */
$admin-menu-color-base-fr-even: $admin-menu-palette-1;
$admin-menu-color-base-fr-odd: $admin-menu-color-base-fr-even;

/**
 * General background color.
 */
$admin-menu-color-base-bg-even: $admin-menu-palette-2;
$admin-menu-color-base-bg-odd: lighten($admin-menu-color-base-bg-even, 3%);

/**
 * Selection fore color. Used in :hover
 */
$admin-menu-color-active-fr-even: $admin-menu-palette-3;
$admin-menu-color-active-fr-odd: $admin-menu-color-active-fr-even;

/**
 * Selection background color. Used in :hover
 */
$admin-menu-color-active-bg-even: $admin-menu-color-base-bg-even;
$admin-menu-color-active-bg-odd: $admin-menu-color-base-bg-odd;

/**
 * Selection fore color. Used in :hover
 */
$admin-menu-color-selection-fr-even: $admin-menu-palette-3;
$admin-menu-color-selection-fr-odd: $admin-menu-palette-3;

/**
 * Selection background color. Used in :hover
 */
$admin-menu-color-selection-bg-even: $admin-menu-palette-4;
$admin-menu-color-selection-bg-odd: $admin-menu-color-selection-bg-even;

$admin-menu-color-separator: $admin-menu-palette-5;
