/**
 * @file
 * Common fixes for admin menu.
 */

#admin-menu-wrapper {
  overflow: hidden;
}

body.section-admin,
body.admin-menu {
  // @todo Make the margin-top size configurable.
  margin-top: 2em !important;
}

// #210615: Mozilla on Mac fix.
html.js {
  fieldset.collapsible {
    div.fieldset-wrapper {
      overflow: visible;
    }
  }
}

// Hide the menu on print output.
@media print {
  #admin-menu {
    display: none !important;
  }

  body.admin-menu {
    margin-top: 0 !important;
  }
}

// Tweaks permissions, if enabled.
tr.admin-menu-tweak-permissions-processed {
  cursor: pointer;
  cursor: hand;

  td.module {
    border-top: 0;
  }
}
