/**
 * @file
 * Default layout for admin_menu.
 */

@import "../../variables/environment";

/**
 * This is useful, but not used in this scenario.
 *
 * Because the IE is not supported.
 *
 * @deprecated
 */
@function trydry-selector-list($selector-to-repeat, $selector-suffix, $from, $to: $drupal-menu-depth) {
  $selector-to-repeat: unquote($selector-to-repeat);
  $selector-suffix: unquote($selector-suffix);

  $selector-full: ();

  $selector-list: ();
  @for $i from 1 through $from {
    $selector-list: append($selector-list, $selector-to-repeat);
  }

  $selector-current: ();
  @for $i from $from through $to {
    @if $selector-suffix or $i > 0 {
      $selector-current: join($selector-list, $selector-suffix, space);
      $selector-full: append($selector-full, $selector-current, comma);
      $selector-list: append($selector-list, $selector-to-repeat);
    }
  }

  @return $selector-full;
}

@mixin admin-menu-layout-default() {
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;

  /* All lists */
  &,
  .dropdown {
    margin: 0;
    padding: 0;
    z-index: 999;
  }

  .dropdown {
    position: static;

    .admin-menu-action,
    .admin-menu-search {
      float: right;
    }

    .admin-menu-search-results {
      display: block !important;
      left: auto !important;
      top: 100%;
    }

    /* All list items */
    li {
      float: left; /* LTR */
      height: 100%;
    }

    /* Second-level lists */
    /* Note: We must hide sub-lists or scrollbars might appear (display: none is not read by screen readers). */
    li ul {
      display: none;
      left: -999em; /* LTR */
      position: absolute;
      box-sizing: content-box;
    }

    li:hover > ul,
    li.iehover > ul {
      display: block;
      left: auto; /* LTR */
    }

    li.admin-menu-action:hover ul,
    li.admin-menu-action.iehover ul {
      right: 0; /* LTR */
    }
  }
}

//#admin-menu-menu {
//  > li:nth-child(3) {
//    > ul {
//      left: auto !important;
//      display: block !important;
//
//      > li:nth-child(4) {
//        > ul {
//          left: auto !important;
//          display: block !important;
//        }
//      }
//    }
//  }
//}
