
@import "compass/css3";

@mixin admin-menu-arrow() {
  width: 0;
  height: 0;
  border-color: transparent transparent transparent $admin-menu-color-base-fr-even;
  border-width: 0.3em 0.3em 0.3em 0.6em;
  border-style: solid;
  content: "";
  margin-top: 0.4em;
  @include border-radius(0.3em);
}

@mixin admin-menu-background-opacity($color, $alpha: $admin-menu-style-default-opacity) {
  background-color: rgba($color, $alpha);
}

@mixin admin-menu-incremental-box-shadow($color: $admin-menu-color-base-bg-odd, $depth: 2) {
  $size: $admin-menu-style-default-shadow-size * ($depth - 1);
  @include box-shadow($size $size $size 0 $color);

  $selector-list: ();
  @for $i from ($depth + 1) through $drupal-menu-depth {
    $size: $admin-menu-style-default-shadow-size * ($i - 1);
    // @todo Treat the negative color scheme. (Dark background)
    $color: lighten($color, 3%);

    $selector-list: append($selector-list, ul);
    #{$selector-list} {
      @include box-shadow($size $size ($size / 2) 0 $color);
    }
  }
}

@mixin admin-menu-style-default {
  font-size: $admin-menu-style-default-font-size;
  font-family: $admin-menu-style-default-font-family;
  background-color: $admin-menu-color-base-bg-even;

  &,
  .dropdown {
    line-height: $admin-menu-style-default-line-height;
    list-style: none;
  }

  a,
  span {
    color: $admin-menu-color-base-fr-even;
    font-weight: normal;
    text-decoration: none;

  }

  .active-trail {
    > a,
    > span {
      color: $admin-menu-color-active-fr-even;
    }
  }

  ul {
    img {
      vertical-align: bottom;
    }

    .admin-menu-users {
      a {
        background: transparent url(../../../images/admin_menu/icon_users.png) 90% center no-repeat;
        padding-right: 22px;
      }
    }

    a,
    span {
      display: block;
      // This is the first level.
      // Deeper levels has a wider padding-right for the expandable arrow.
      padding: 0.25em 0.5em 0.25em 0.5em;
    }

    .admin-menu-tab {
      padding-bottom: 1px;
    }

    ul {
      @include admin-menu-incremental-box-shadow();

      border-color: $admin-menu-color-base-fr-even;
      border-width: 0 1px 1px 1px;
      border-style: solid;

      ul {
        border-top-width: 1px;
      }

      li {
        /* Required for Opera and FireFox! */
        width: $admin-menu-style-default-menu-item-width;
      }

      a,
      li > span {
        padding-right: 1.5em;
      }
    }

    /* All list items */
    li {
      background-image: none;
      list-style-image: none;
      list-style-type: none;
      margin: 0 !important;
      padding: 0;

      &:nth-child(even) {
        > a,
        > span {
          @include admin-menu-background-opacity($admin-menu-color-base-bg-even);
        }
      }

      &:nth-child(odd) {
        > a,
        > span {
          @include admin-menu-background-opacity($admin-menu-color-base-bg-odd);
        }
      }

      /* Second-level lists */
      /* Note: We must hide sub-lists or scrollbars might appear (display: none is not read by screen readers). */
      ul {
        background: none;
        line-height: $admin-menu-style-default-line-height;
        margin: 0;
        width: $admin-menu-style-default-menu-item-width;
      }

      /* Second-and-more-level hovering */
      li.expandable {
        //background: #45454A url(../../../images/admin_menu/arrow.png) no-repeat 145px 6px;

        > a,
        > span {
          &:after {
            float: right;
            @include admin-menu-arrow();
            margin-right: -1em;
          }
        }

        &.active-trail {
          > a,
          > span {
            &:after {
              border-left-color: $admin-menu-color-active-fr-even;
            }
          }
        }

        /* Third-and-above-level lists */
        ul {
          margin: (-$admin-menu-style-default-line-height * 1.5) 0 0 ($admin-menu-style-default-menu-item-width - $admin-menu-style-default-menu-item-overlap); /* LTR */
        }
      }

      &:hover {
        > a,
        > span {
          background-color: $admin-menu-color-selection-bg-even;
        }
      }
    }
  }

  /* Search form */
  .admin-menu-search {
    .form-item {
      margin: 0;
      padding: 0;
    }

    input {
      background: #fff none center right no-repeat;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 10px;
      margin: 1px 0;
      outline: none;
      padding: 2px 22px 2px 4px;
      width: ($admin-menu-style-default-menu-item-width - 1);
    }
  }

  .admin-menu-search-results,
  .admin-menu-search-results li {
    width: ($admin-menu-style-default-menu-item-width - 1);
  }

  li.highlight {
    > a {
      background-color: $admin-menu-color-selection-bg-even !important;
    }
  }
}
