
$admin-menu-style-default-bar-height: 2em;

$admin-menu-style-default-font-family: "DejaVu Sans", "lucida grande", tahoma, verdana, arial, sans-serif;

$admin-menu-style-default-font-size: 0.875em;

$admin-menu-style-default-line-height: 1.4em;

$admin-menu-style-default-gap-unit: 0.25em;

$admin-menu-style-default-menu-item-width: 12em;

$admin-menu-style-default-menu-item-overlap: 0.3em;

$admin-menu-style-default-shadow-size: 0.3em;

$admin-menu-style-default-opacity: 0.92;
